{% extends 'layout/layout.html' %}
{% block content %}
<!--<form class="col-sm-10 form-horizontal" action="/" method="get" role="search">-->
    <!--<div class="form-group">-->
        <!--<input type="text" name="username" class="form-control" value="{{query.username}}" placeholder="姓名" style="width: 45%">-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<input type="number" name="age1" class="form-control" value="{{query.age1}}" placeholder="年龄开始" style="width: 45%">-->
        <!--<input type="number" name="age2" class="form-control" value="{{query.age2}}" placeholder="年龄结束" style="width: 45%">-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<button type="submit" class="btn btn-default">查询</button>-->
        <!--<span class="dropdown">-->
            <!--<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">-->
                <!--排序-->
                <!--<span class="caret"></span>-->
            <!--</button>-->
            <!--<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">-->
                <!--<li><a href="{{paginate.href({sort:'username'})}}">姓名升序</a></li>-->
                <!--<li><a href="{{paginate.href({sort:'-username'})}}">姓名降序</a></li>-->
                <!--<li><a href="{{paginate.href({sort:'age'})}}">年龄正序</a></li>-->
                <!--<li><a href="{{paginate.href({sort:'-age'})}}">年龄降序</a></li>-->
            <!--</ul>-->
        <!--</span>-->
    <!--</div>-->
<!--</form>-->
<!--<table class="table table-bordered table-hover">-->
    <!--<legend>-->
        <!--共查询到<code>{{result.total}}</code>条记录 {%if result.pages>100%},显示前<code>100</code>页{% endif%}-->
    <!--</legend>-->
    <!--<thead>-->
    <!--<tr>-->
        <!--<th>序号</th>-->
        <!--<th>姓名</th>-->
        <!--<th>年龄</th>-->
        <!--<th>时间</th>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->
    <!--{% for person in result.docs %}-->
    <!--<tr>-->
        <!--<td>{{(result.page-1) * result.limit + loop.index}}</td>-->
        <!--<td>{{person.username}}</td>-->
        <!--<td>{{person.age}}</td>-->
        <!--<td>{{person.create | date('Y-m-d H:i:s',-480)}}</td>-->
    <!--</tr>-->
    <!--{% endfor %}-->
    <!--</tbody>-->
<!--</table>-->
<!--{{ createPagination(result.pages,result.page) }}-->
<!--<br><br>-->

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">客户端</h3>
    </div>
    <div class="panel-body">
        <a href="/client" class="btn btn-info">部署地管理</a>
        <hr>
 <h4>客户端API</h4>
<pre>
GET /api/client/version         //获取最新版本号
GET /api/client/version/:name   //下载新版本更新包
GET /api/client/servers         //获取部署地配置
</pre>

    </div>
</div>
{% endblock %}