{% extends '../layout/layout.html' %}
{% block content %}
<div class="panel">
<div class="panel-body">

   <div class="list-group">
      <a  class="list-group-item">
         <div class="row">
            <div class="col-sm-2">
               <label class="control-label">用户名</label>
            </div>
            <div class="col-sm-10">
               {{user.username}}
            </div>
         </div>
      </a>
      <a class="list-group-item">
         <div class="row">
            <div class="col-sm-2">
               <label class="control-label">邮箱</label>
            </div>
            <div class="col-sm-10">
               {{user.email}}
            </div>
         </div>
        </a>
      <a class="list-group-item">
         <div class="row">
            <div class="col-sm-2">
               <label class="control-label">最近登录</label>
            </div>
            <div class="col-sm-10">
               {{user.last | date('Y-m-d H:i:s',-480)}}
            </div>
         </div>
      </a>
   </div>
</div>
</div>
{% endblock %}