{% extends 'layout/layout.html' %}
{% block content %}
<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>姓名<a href="{{paginate.href({sort:'name'})}}">正序</a>
            <a href="{{paginate.href({sort:'-name'})}}">倒序</a> </th>
        <th>年龄<a href="{{paginate.href({sort:'age'})}}">正序</a>
               <a href="{{paginate.href({sort:'-age'})}}">倒序</a></th>
        <th>地址</th>
    </tr>
    </thead>
    <tbody>
    {% for person in result.docs %}
    <tr>
        <td>{{person.name}}</td>
        <td>{{person.age}}</td>
        <td>{{person.address}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{{ createPagination(result.pages,result.page) }}
{% endblock %}