{% extends '../layout/layout.html' %}
{% block content %}
<legend>角色列表</legend>
<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>角色ID</th>
        <th>角色名</th>
        <th>描述</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {% for role in roles %}
    <tr>
        <td>{{role.key}}</td>
        <td>{{role.name}}</td>
        <td>{{role.desc}}</td>
        <td>
            <a href="/roles/edit/{{role.key}}" class="btn btn-sm btn-primary">修改</a>
            <a href="/roles/delete/{{role.key}}" onclick="if(confirm('确定删除?')==false)return false;" class="btn btn-sm btn-danger">删除</a>
            <a href="/roles/users/{{role.key}}" class="btn btn-sm btn-success">选择用户</a>
            <a href="/roles/resources/{{role.key}}" class="btn btn-sm btn-info">授权资源</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<a href="/roles/add" class="btn btn-primary">新增角色</a>
{% endblock %}